parameters:
  level: 'max'
  paths:
    - ./cs-fix
    - .
  excludePaths:
    - ./vendor/*
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - message: '#Parameter \#1 \$callback of function set_error_handler#'
      paths: [./cs-fix]
